# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/
.env

# SQLite
*.db
*.db-journal
*.db-wal

# Node / Angular
node_modules/
dist/
.angular/
*.js.map

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
